.row{
	background: #F5F4F4;
	heigh: 300px;
	color: #ffffcc;
}
.col{
	color: #000000;

}

.col1{
	color: #000000;
}
 
.mimision{
	color: #000000;
}
.bg-danger {
    background-color: #000000!important;
    color: #ffffff;
}
.Colores{
	color: #000000


}
.form-group{
	color: #000000;

}
.CONOCER{
	color: #000000;

}